<a href="https://colab.research.google.com/github/TheresaZhu21/learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({
  'surname': ['Hargrave', 'Hill', 'Boni', 'Obinna', 'Onio'],
  'geography': ['France', 'Spain', 'France', 'Germany', 'France'],
  'credit_score': [619, 608, 699, 376, 502],
  'age': [42, 41, 39, 29, np.nan],
  'id': [1, 2, 3, 4, 5]
  })
df = df.set_index(['surname', 'geography'])
df

                    credit_score   age  id
surname  geography
Hargrave France              619  42.0   1
Hill     Spain               608  41.0   2
Boni     France              699  39.0   3
Obinna   Germany             376  29.0   4
Onio     France              502   NaN   5

In [12]:
df.loc[[('Boni', 'France'), ('Obinna', 'Germany')]]

                   credit_score  age  id
surname geography
Boni    France              699   39   3
Obinna  Germany             376   29   4

In [15]:
df.isna().sum()

credit_score    0
age             1
id              0
dtype: int64

In [16]:
df.isna().any()

credit_score    False
age              True
id              False
dtype: bool

In [19]:
df.index.get_level_values(1).value_counts(normalize = True)

France     0.6
Spain      0.2
Germany    0.2
Name: geography, dtype: float64